body {
    font-family: 'Poppins', sans-serif;
    background-color: #19def0;
}

.container {
    width: 80%;
    margin: auto;

}

#dados {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 100px 50px;
    box-shadow: -10px 5px 20px 0px #292a2d;
}

#perfil {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.card-padding {
    padding: 50px;
}

#card-dados {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contato {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#card-dados div:last-child {
    margin-top: 15px;
}

.btn{
    border: 2px solid #000;
    border-radius: 20px;
    padding: 7px 50px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    user-select: none;
}

footer{
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 30px;
}

hr {
    height: 1px;
    width: 90%;
    background-color: black;
}