#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.quadrado {
    background-color: greenyellow;
    height: 150px;
    width: 150px;
    margin: 20px;
}

.quadrado2 {
    background-color: gold;
    width: 150px;
    margin: 20px;
}